.gradle
.idea
build
lib
monitor/work/*
/out/*
!.idea/copyright/bisq_Affero_GPLv3.xml
!.idea/copyright/profiles_settings.xml
!.idea/codeStyleSettings.xml
*.iml
*.spvchain
*.wallet
*.ser
*.log
*.sw[op]
.DS_Store
.classpath
.project
.settings
*.java.hsp
*.java.hsw
*.~ava
/bundles
/bisq-*
/lib
*/target/*
*.class
deploy
*/releases/*
.java-version
.localnet
/.run
monitor.properties

/bisq-gradle/out/*

